<!--D2Loader Config-->
<D2SPLoaderConfig>
	<!--Default Gamepath. The below is the default install path, change this if you've installed somewhere different.-->
	<GamePath>C:\Program Files (x86)\Diablo II Resurrected</GamePath>
	
	<!--If you want to launch a grail app when D2r starts, enter the path to the executable eg C:\Program Files\Diablo 2 Holy Grail\Diablo 2 Holy Grail.exe-->
	<GrailAppExecutablePath></GrailAppExecutablePath>
	
	<!--If you want to launch a RunTimer app when D2r starts, enter the path to the executable eg C:\Program Files\Oskros\mf_timer.exe-->
	<RunTimerAppExecutablePath></RunTimerAppExecutablePath>
	
	<!--Any custom launch arguments for the game (eg if you want to use mods). May not be compatible with some features in the script.-->
	<CustomLaunchArguments></CustomLaunchArguments>

	<!--Script will recreate desktop shortcut each time it's run (updates the shortcut if you move the script location). If you don't want this, disable here by setting to $false.-->
	<CreateDesktopShortcut>True</CreateDesktopShortcut>

	<!--If you have a custom .ico you want to use, put the path of it here.-->
	<ShortcutCustomIconPath></ShortcutCustomIconPath>

	<!--Make sure game always starts in Windowed mode rather than full screen. Note that this seems to cause issues remembering your last window size. Recommend leaving false-->
	<ForceWindowedMode>False</ForceWindowedMode>
	
	<!--Backup Character files every half hour-->
	<AutoBackup>False</AutoBackup>
	
	<!--Disable Intro videos and videos in between each act.-->
	<DisableVideos>False</DisableVideos>

	<!--Can be used standalone or in conjunction with the standard setting switcher above.
	This enables the menu option to enter 's' and manually pick between settings config files. Use this if you want to select Awesome or Poo graphics settings for an account.
	Any setting file with a number after it will not be an available option (eg settings1.json will not be an option).
	To make settings option, you can load from, call the file settings.<name>.json eg(settings.Awesome Graphics.json) which will appear as "Awesome Graphics" in the menu.-->
	<ManualSettingSwitcherEnabled>False</ManualSettingSwitcherEnabled>
</D2SPLoaderConfig>
